**/.virtual_documents/*
**/__pycache__/*
**/.ipynb_checkpoints/*
**/*.egg-info/*

**/.plotcache/*

notebooks/data/*
reno.egg-info/*

work_sessions/*
dist/*

# sphinx generated documentation
sphinx/build/*
sphinx/source/api/*

**/.doccache/*
