**/.virtual_documents/*
**/__pycache__/*
**/.ipynb_checkpoints/*
**/*.egg-info/*

*.bkp
*.dtmp
**/.plotcache/*
**/.doccache/*

notebooks/data/*
reno.egg-info/*
*.pdf
*.json
*.html

work_sessions/*
dist/*

# sphinx generated documentation
sphinx/build/*
sphinx/source/api/*
